@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Folketingsvalget </h1>
    <p>Her har du mulighed for at stemme på den kandidat du mener skal være statsminister. <br> 
        For at have stemmeret skal du have dansk statsborgerskab. <br>
        Dem der har statsborgerskab har modtaget en mail med deres login og kode. <br>
        Din bruger login og kode skal anvendes på login siden</p>
</div>
